<% if notice then %>
  <div class='alert alert-primary alert-dismissible fade show mb-2'>
    <%= notice %>
    <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
  </div>
<% end %>
<% if alert then %>
  <div class='alert alert-danger alert-dismissible fade show mb-2'>
    <%= alert %>
    <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
  </div>
<% end %>

<h1 class='h2 mb-3'>Users</h1>
<div id="users" class='list-group'>
  <% @users.each do |user| %>
    <%= link_to user_path(user), class: 'list-group-item list-group-item-action d-flex justify-content-between' do %>
      <div class='fs-5'>
        <i class='bi bi-person me-1'></i>
        <span><%= user.uid %></span>
        <% if current_user.uid_number == user.uid_number %>
          <small>(you)</small>
        <% end%>
        <small class='fs-6 text-muted ms-1'><%= user.uid_number %></small>
      </div>
      <div>
        <% user.groups.each do |group| %>
          <span class='badge text-dark border ms-1'>
            <% if user.gid_number == group.gid_number %>
              <i class="bi bi-tag-fill"></i>
            <% else %>
              <i class="bi bi-tag"></i>
            <% end %>
            <%= group.cn %>
          </span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
