<% if notice then %>
  <div class='alert alert-primary alert-dismissible fade show'>
    <%= notice %>
    <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
  </div>
<% end %>
<% if alert then %>
  <div class='alert alert-danger alert-dismissible fade show mb-2'>
    <%= alert %>
    <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
  </div>
<% end %>
<% unless @user.errors.empty? then %>
  <div class='alert alert-danger alert-dismissible fade show'>
    <% @user.errors.full_messages.each do |message| %>
      <%= message %><br/>
    <% end %>
  </div>
<% end %>

<p class='fs-5'> Please provide a password to create your profile for <strong><%= current_session.mail %></strong>.</p>
<%= form_with(url: users_path, method: :post) do |form| %>
  <%= hidden_field :user, :cn %>
  <div class='card mb-4'>
    <div class='card-header bg-transparent'>
      <div class='fs-4 mb-0'>
        <i class='bi bi-fingerprint'></i>
        Password
      </div>
    </div>
    <div class='card-body'>
      <div class='col-auto px-3'>
        <div class='form-group mb-3'>
          <label>New password</label>
          <%= password_field :user, :user_password, class: 'form-control' %>
        </div>
      </div>
      <div class='col-auto px-3'>
        <div class='form-group mb-3'>
          <label>Confirm password</label>
          <%= password_field :user, :user_password_confirmation, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <%= form.submit 'Create your profile', class: 'btn btn-primary' %>
<% end %>
